.cool-kids-signup-form {
    padding: 15px;
    border: 1px dashed #0073aa;
    border-radius: 4px;
    background-color: #f1f1f1;
    text-align: center;
}

.signup-error {
    color: red;
    margin-top: 10px;
}

.signup-success {
    color: green;
    margin-top: 10px;
}
